body, html{
    margin: 0;
    padding: 0;
}

/* the start of the header CSS code */
header{
    background-color: #1F2937;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.logo{
    margin: 0;
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bolder;
}

header ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

header a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

/*the end of the CSS code for the header */

/*the sign up field */

.sign_up{
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    padding: 120px 0px;
}

.sign_up_text{
    width: 400px;
}

.sign_up_text h1{
    margin: 0;
    font-size: 48px;
    color: #F9FAF8;
    text-decoration: none;
}
.sign_up p{
    color: #E5E7EB;
    font-size: 18px;
}

.sign_up img{
    width: 400px;
}

.sign_up button{
    background-color: #3882f6;
    border: 0;
    padding: 8px 30px;
    border-radius: 10px;
}

/* the end of the sign up field */

/* the start of the info field */

.info_field{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    gap:30px;
}

.info_field h1{
    margin: 0;
    font-size: 36px;
    font-weight: bolder;
    color:#1F2937;
}

.info_slides{
    display: flex;
    gap: 40px;
}

.info .container {
    width: 150px;
    height: 150px;
    border: 5px solid #3882f6;
    border-radius: 20px;
}

.info p{
    width: 150px;
    text-align: center;
}

/* the end of the info field */

/* the start of the quote field */

.quote_field{
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    align-items: center;
    padding: 100px;
}

.quote_field p{
    margin:0;
    width: 500px;
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

.quote_person{
    text-align: right;
    color: #3882f6;
}